body, html {
  height: 100%;
  max-width: 100%;
  background-color: rgb(12,19,35);
  font-size: large;
  overflow-x: hidden;
}

p {
  color: rgb(159,130,148);
}

h1, h2 {
  color: rgb(105,136,174);
}

header {
  opacity: 80%;
  display: flex;
  position: fixed;
  z-index: 3000;
  width: 100%;
  background-color: rgb(12,19,35);
  grid-area: header;
  align-items: center;
  padding-left: 20px;
  height: 10%;
  }

  .banner h1 {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
  }

  

  .banner {
    grid-area: hero;
    background-image: linear-gradient(to bottom, rgba(56, 56, 56, .1), rgb(12,19,35)), url(Assets/Banner.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bannerText {
    
    text-align: center;
    color: cornsilk;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: main;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    max-width: 80%
  }

  a {
    text-decoration: none;
  }

  aside {
    background-color: rgb(12,19,35);
    grid-area: sidebar;
    margin:auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  aside img {
    margin-top: 10px;
    height: 30%;
    max-height: 255px; 
    object-fit: contain;
    
  }

  aside a {
    padding-left: 70px;
  }

  button {
    align-self: center;
    width: 30%;
  }

  footer {
    display: flex;
    background-color: rgb(12,19,35);
    grid-area: footer;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
  }

  footer p {
    margin: 0;
    color: dimgray;
  }

  i {
    font-size: 2rem;
  }

  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "header header header header"
      "hero hero hero hero"
      "main main main sidebar"
      "footer footer footer footer";
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
  }

  .webList {
    line-height: 1.5;
    
  }

  .webList a:hover {
    color: coral;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

  @media only screen and (max-width: 925px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 2fr;
      grid-template-rows: 10% 80% 10%;
      grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    }

    body {
      height: 100%;
    }

    main {
      padding-right: 30px;
      padding-left: 30px;
    }

    img {
      display: none;
    }

    aside a {
      display: none;
    }

    footer {
      padding-bottom: 0px;
    }

  }