.header {
    background-color: bisque;
    grid-area: header;
  }
  .main {
      background-color: cadetblue;
    grid-area: main;
  }
  .aside {
    grid-area: sidebar;
  }
  .footer {
      background-color: cyan;
    text-align: center;
    grid-area: footer;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 20vh 60vh 10vh;
    grid-template-areas: 
      "header header header header"
      "main main main sidebar"
      "footer footer footer footer";
  }